form {
    background-color: rgb(28, 130, 21);
    display: inline-block;
    padding: 40px;
 width: 900 ;
 border: 10px solid cyan;
 border-radius: 20px;
}

label{
    border-radius: 20px;
    display: inline-block;
    width: 50px;
}

#borde{
    border: 2px solid red; 
    ;
}

body{
    color: aliceblue;
}





